---
// Footer.astro
---
<!-- FOOTER -->
<footer>
    <span class="f-logo">Barbería VIP</span>
    <span class="f-copy">&copy; 2026 · Web desarrollada por <a href="/">Darío Martínez</a></span>
    <div class="f-links">
        <a href="#inicio">Inicio</a>
        <a href="#servicios">Servicios</a>
        <a href="#reservar">Reservar</a>
    </div>
</footer>
