---
// Map.astro
---
<!-- MAPA -->
<div class="map-section">
    <div class="slabel">Cómo Llegar</div>
    <h2 class="stitle" style="font-size:1.6rem;margin-bottom:0">C. Pintor Zuloaga, 22 · Ronda · Granada</h2>
    <div class="map-wrapper">
        <iframe
            src="https://maps.google.com/maps?q=Calle+Pintor+Zuloaga+22+18005+Granada+Spain&t=&z=16&ie=UTF8&iwloc=&output=embed"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            title="Ubicación Barbería VIP Granada">
        </iframe>
    </div>
</div>
